h5 {
  color: black;
  font-weight: bold;
}

/* Estilo cuando el input está enfocado (seleccionado) */
input:focus {
  border: 1px solid #6d6d6d; /* Color input seleccionado */
  outline: none; /* Para quitar el contorno por defecto en algunos navegadores */
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.5); /* Efecto de sombra al enfocar */
}

/* Estilo cuando el select está enfocado (seleccionado) */
select:focus {
  border: 1px solid #6d6d6d; /* Color al Select seleccionado */
  outline: none; /* Para quitar el contorno por defecto en algunos navegadores */
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.5); /* Efecto de sombra al enfocar */
}
